.ui-overlay {
  display: flex;
  width: inherit;
  .status-bars {
    flex: 1;
  }
  .equipment {
    flex: 1;
  }
  .toolbar {
    flex: 1;
  }
}

.interactive {
  cursor: url('assets/img/cursor/point.png'), pointer !important;
}

.not-clickable {
  pointer-events: none;
}
